@import url('https://fonts.googleapis.com/css?family=Raleway');

.post-content {
  color: #555;
  padding-bottom: 80px;
  font: normal 18px/1.5em 'Raleway', sans-serif;
  font-weight: 500;
  text-align: justify;
}

.article-page img{
	display: block;
	margin: auto;
	max-width: 100%;
	padding: 15px;
  max-height: 500px;
}
.article-details {
  font: normal 18px/1.5em 'Raleway', sans-serif;
  padding-bottom: 10px;
}