@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.contact-form .input-field {
  margin-bottom: 16px;
}

#get-in-touch {
  padding: 50px 0 50px;
  /*background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);*/
  color: #fff;
}
#get-in-touch h1,
#get-in-touch h2 {
  color: #fff;
}

.contact-form .form-control {
  border: 1px solid #dbdbdb;
  padding: 20px;
  border-radius: 0;
  height: 52px;
  /*box-shadow: none;*/
}

.contact-form .message .form-control {
  height: 198px;
}

.contact-form .form-control::-moz-placeholder {
  color: #1f2021;
}

.contact-form #msg-submit {
  font-size: 13px;
  padding: 17px 50px;
}

.contact-details {
  margin-bottom: 90px;
}

.contact-details > span {
  color: #1f2021;
  display: block;
  margin-bottom: 35px;
}


.section-header h2 {
  color: #222222 !important;
}
address {
  color: #222222;
}
.address-title {
  font-family:  'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 800;
  /*letter-spacing: 3px;*/
}
.address-icons {
  color: #d83030;
}
.address-text {
  font-family:  'Raleway', sans-serif;
  font-size: 17px;
}