<div class="post-content ourVisionText">
	<p>Inaugurated by RSS Sarasanghachalak Mohan Bhagwat, 2-day Conclave of Educationists ‘Gyan Sangam’ held at New Delhi</p>

	<p>New Delhi: RSS Sarasanghachalak Dr Mohan Bhagwat along with RSS Sahsarakaryavah Suresh Soni inaugurated 2-day Conclave of Educationists ‘Gyan Sangam’ at New Delhi. Organised by RSS think tan Prajna Pravah, the conclave held on March 25, 26 , 2017. RSS Sahsarakaryavah Dr Krishna Gopal, RSS Akhil Bharatiya Samaprk Pramukh Prof Aniruddh Deshpande, RSS Akhil Bharatiya Prachar Pramukh Dr Manmohan Vaidya, RSS Akhil Bharatiya Bouddhik Pramukh Swant Ranjan,  RSS Akhil Bharatiya Sah Bouddhik Pramukh Mukunda CR attended this conclave.</p>

	<img src="{{ url_for('static', filename='images/articles/articleImages/article20.jpg') }}">

	<p>Over 700 academicians, including the vice-chancellors of 51 state and central universities attended a two-day workshop hosted by an RSS-affiliate body in the national capital. The workshop titled ‘Gyan Sangam’ aimed at “Indianising” the education system oriented towards socio-cultural roots of the country. The participants of the event, including vice-chancellors (VCs) of 20 central and 31 state universities, interacted with RSS chief Mohan Bhagwat.</p>

	<p>Talking to the media, J Nand Kumar, national convener of Prajna Pravah which hosted the event.  said, “The lack of “Indianness” in the educational system of the country has been pointed out by various commissions and the Supreme Court too has called for incorporating Indian views into it.” Quoting RSS chief Mohan Bhagwat, Nand Kumar said,”The exercise is not an alternative to the present educational system which is aping the West, but it’s a real nationalist narrative to imbibe Bharatiya perspectives in it.”</p>

	<p>As per the reports of news agency PTI, the participants also presented their suggestions about creating a non-governmental and autonomous academic ecosystem in education during interaction with Bhagwat. “This ‘Gyan Sangam’ (event) is an effort to provide a platform to academicians working on Bhartiya perspectives in various academic disciplines and to work for their capacity building,” Nandkumar said.</p>

	<img src="{{ url_for('static', filename='images/articles/articleImages/article21.jpg') }}">

	<p>The event was divided into three parts in which themes such as cultural onslaught on educational system, intellectual colonisation, and resurgence of nationalism in higher educational institutions were discussed by the participants. S Gurumurthy spoke on cultural onslaught in a session chaired by Banaras Hindu University (BHU) VC Girish Chandra Tripathi.</p>

	<p>Leading news portal News 18 quoted Prakash Singh, the convenor of the program, Delhi University professor of Political Science, saying, “Our academic disciplines are leaning towards western education to bring the change we have to create literature, change minds of people and society. We have to reach among the academics first, change their thinking to start with, students will come next.”</p>

	<p>(With inputs from PTI)</p>
</div>