{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article.css') }}"/>
{% endblock %}

{% block body %}
	<section id="services" class="article-page">
	    <div class="container">
			<div class="section-header">
			    <h2 class="section-title text-center wow fadeInDown">{{ articleTitle }}</h2>
			</div>

			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
			        <div class="pull-right">
			            <a href="#" class="btn btn-primary increaseSize" data-toggle="tooltip" title="Zoom In"><i class="fa fa-font">+</i></a>
			            <a href="#" class="btn btn-primary decreaseSize" data-toggle="tooltip" title="Zoom Out"><i class="fa fa-font">-</i></a>
			        </div>
			        <br><br>
			    </div>
				<div class="col-lg-11 col-lg-offset-1">
					<ul class="list-unstyled article-details">
			             <li><i class="fa fa-clock-o"></i><strong> Date: </strong> {{ date }}</li>
			             <li><i class="fa fa-user"></i><strong> Author(s):</strong> {{ author }}</li>
			             <li><i class="fa fa-link"></i><strong> Published at: </strong> <a href="{{publishedAt}}" target="_blank">{{publishedAt}}</a></li>
		    	    </ul>
				</div>			    
			</div>
			{% include filename %}
		</div>
	</section>
{% endblock %}

{% block script %}
{% endblock %}