<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}Prajna Pravah</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Forum of Nationalist Thinkers">
    <meta name="author" content="Prajna Pravah">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Prajna Pravah, prajna pravah, prajna, pravah, Prajna, Pravah, J. Nandakumar, j nandakumar, adwitiya sinha, shashank gupta, sahil upadhyay, meet the developers, nand ji, forum, nationalist, thinkers, RSS, rss, organizer, weekly organizer, lok manthan, gyan sangam, buddha singh, prajnapravah, kumarnandaj, bharat, india">
    <meta name="robots" content="all,follow">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@prajnapravah" />
    <meta name="twitter:title" content="Prajna Pravah" />
    <meta name="twitter:description" content="A Forum of Nationalist Thinkers" />

	<!-- core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo2.jpg') }}">
    <meta property="og:title" content="Prajna Pravah" />
    <meta property="og:description" content="A Forum of Nationalist Thinkers" />
    <meta property="og:image" content="{{ url_for('static', filename='images/logos/favicon-96x96.png') }}" /> <!--  Favicon url -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/logos/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/logos/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/logos/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/logos/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/logos/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/logos/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/logos/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/logos/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/logos/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logos/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/logos/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/logos/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/logos/ms-icon-144x144.png') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120210629-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120210629-1');
    </script>
	{% block stylesheet %}{% endblock %}

</head>
<body>
    <div id="preloader">
        <div class="spinner">
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <div class="cube"></div>
            <h4 class="spinner-header">PRAJNA PRAVAH</h4>
        </div>          
    </div><!--preloader end-->
	<header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="list-inline navbar-brand">
                        <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo2.jpg') }}" alt="logo"></a></li>
                        <li><a href="{{ url_for('index') }}">Prajna Pravah</a></li>
                    </ul>
                    
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll"><a href="{{ url_for('index') }}">Home</a></li>
                        <li class="scroll"><a href="{{ url_for('mission') }}">Our Mission</a></li>
                        <li class="scroll"><a href="{{ url_for('founders') }}">Founders</a></li>
                        <li class="scroll"><a href="{{ url_for('events') }}">Events</a></li>
                        <li class="dropdown">
					        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery
					        <span class="caret"></span></a>
					        <ul class="dropdown-menu">
					          <li><a href="{{ url_for('photos') }}">Photos</a></li>
					          <li><a href="{{ url_for('videos') }}">Videos</a></li>
					        </ul>
					    </li>
                        <li class="scroll"><a href="{{ url_for('joinUs') }}">Join Us</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Archive
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ url_for('articles') }}">Articles</a></li>
                              <li><a href="{{ url_for('newsletters') }}">Newletters</a></li>
                            </ul>
                        </li>
					    <li class="scroll"><a href="{{ url_for('tweets') }}">Tweets</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

	{% block body %}{% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                   &copy Copyright all rights reserved | Meet the <a href="{{ url_for('developers') }}" title="prajna pravah developers">Developers</a>
                </div>
                <div class="col-sm-6 text-center">
                    <ul class="social-icons">
                        <li><a href="https://twitter.com/prajnapravah" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mousescroll.js') }}"></script>
    <!-- <script async src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.inview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
	{% block script %}{% endblock %}

</body>
</html>