{% extends "base.html" %}

{% block stylesheet %}
    <link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ebooks.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css"/>
{% endblock %}

{% block body %}
    <section id="get-in-touch">
            <div class="container">
                <div class="row">
					<div class="section-header">
				        <h2 class="gallery-title section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Feel free to contact us</h2>				       
				    </div>
                    
                    <div class="col-md-8 col-sm-8 wow fadeInLeft">
                        <div class="contact-form clearfix">
                            <form action="{{ url_for('contactUs') }}" method="POST">
                                <div class="input-field">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                                </div>
                                <div class="input-field">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                                </div>
                                <div class="input-field">
                                    <input type="text" class="form-control" name="phone" placeholder="Your Phone no" required>
                                </div>
                                <div class="input-field message">
                                    <textarea name="message" class="form-control" placeholder="Your Message" required></textarea>
                                </div>
                                <input type="submit" class="btn btn-blue pull-right" value="SEND MESSAGE" id="msg-submit">
                            </form>
                        </div> <!-- end .contact-form -->
                    </div> <!-- .col-md-8 -->

                    <div class="col-md-4 col-sm-4 wow fadeInRight">
                        <address>
                        	<!-- <h3 class="coloum-title">Information</h3> -->
                        	<p class="address-title">Jawaharlal Nehru University</p>
                        	<p class="address-text">
                        		<span class="address-icons"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp <strong>Address: </strong> New Mehrauli Road, Munirka, New Delhi, Delhi 110067</br>
                        		<span class="address-icons"><i class="fa fa-phone" aria-hidden="true"></i></span><strong>&nbspPhone: </strong>011 2674 2575
                        	</p>
                        	<p class="address-title">Timing</p>
		                   	<p class="address-text">
		                   		<span class="address-icons"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
		                   		<span class="address-text">&nbsp
			                   		<strong> Monday-Friday:</strong> 9:00AM - 5:00PM </br>
			                   		<strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Saturday - Sunday: </strong> <i>Closed</i>
		                   		</span>
		                   	</p>
                        </address>
                       	
                    </div> <!-- .col-md-4 -->

                </div>
            </div>
        </section>
{% endblock %}

{% block script %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
            <script src="{{ url_for('static', filename='js/ebooks.js') }}"></script>
            <script>                
                sentMsg();
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}