{% extends "base.html" %}

{% block stylesheet %}
    <link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ebooks.css') }}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css"/>
{% endblock %}

{% block body %}
    <section id="get-in-touch">
            <div class="container">
                <div class="row">
					<div class="section-header">
				        <h2 class="gallery-title section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Join Us</h2>
				    </div>
                    
                    <div class="col-md-8 col-sm-8 wow fadeInLeft">
                        <div class="contact-form clearfix">
                            <form action="{{ url_for('contactUs') }}" method="POST">
                                <div class="input-field">
                                    <input type="text" class="form-control" name="name" placeholder="Full Name" required>
                                </div>
                                <div class="input-field">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required>
                                </div>
                                <div class="input-field">
                                    <input type="text" class="form-control" name="phone" placeholder="Phone no" required>
                                </div>
                                <div class="input-field">
                                    <select class="form-control" id="age" title="Age group" name="age">
                                        <option>Age</option>
                                        <option value="18 or below">18 or below</option>
                                        <option value="19 - 25">19 - 25</option>
                                        <option value="26 - 35">26 - 35</option>
                                        <option value="36 - 45">36 - 45</option>
                                        <option value="46 - 55">46 - 55</option>
                                        <option value="56 or above">56 or above</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <input type="text" class="form-control" name="city" placeholder="City">
                                </div>
                                <div class="input-field">
                                    <input type="text" class="form-control" name="state" placeholder="State">
                                </div>
                                <div class="input-field">
                                    <input type="text" class="form-control" name="country" placeholder="Country">
                                </div>
                                <div class="input-field">
                                    <select class="form-control" id="category" title="Select a category" name="cetegory">
                                        <option>Category</option>
                                        <option value="Contribute">Contribute</option>
                                        <option value="Organize">Organize</option>
                                        <option value="Suggest">Suggest</option>
                                    </select>
                                </div>
                                <div class="input-field">
                                    <select class="form-control" id="sub-ategory" title="Select a Sub-Category" name="subCategory">
                                        <option>Sub-category</option>
                                        <option value="Article Writing">Article Writing</option>
                                        <option value="Translation">Translation</option>
                                        <option value="Other">Other Event</option>
                                        <option value="Workshop">Workshop</option>
                                        <option value="Seminar">Seminar</option>
                                        <option value="Symposium">Symposium</option>
                                        <option value="Conference">Conference</option>
                                        <option value="Other">Other</option>
                                        <option value="Feedback to Prajna Pravah">Feedback to Prajna Pravah</option>
                                        <option value="Feedback to developers">Feedback to developers</option>
                                        <option value="Queries">Queries</option>
                                    </select>
                                </div>
                                <div class="input-field message">
                                    <textarea name="message" class="form-control" placeholder="Write a message" required></textarea>
                                </div>
                                <div class="input-field">
                                    <select class="form-control" id="source" title="How do you know about us" name="source">
                                        <option>How do you know about us</option>
                                        <option value="Through events">Through events</option>
                                        <option value="Through newspaper">Through newspaper</option>
                                        <option value="Through soical media">Through soical media</option>
                                        <option value="other">other</option>
                                    </select>
                                </div>
                                <input type="submit" class="btn btn-blue pull-right" value="SEND MESSAGE" id="msg-submit">
                            </form>
                        </div> <!-- end .contact-form -->
                    </div> <!-- .col-md-8 -->

                    <div class="col-md-4 col-sm-4 wow fadeInRight">
                        <address>
                        	<!-- <h3 class="coloum-title">Information</h3> -->
                        	<p class="address-title">Prajna Pravah</p>
                        	<p class="address-text">
                        		<span class="address-icons"><i class="fa fa-map-marker" aria-hidden="true"></i></span>&nbsp <strong>Address: </strong> 143, North Avenue Road Area, Raisina Hills, New Delhi, 110001<br>
                        		<span class="address-icons"><i class="fa fa-phone" aria-hidden="true"></i></span><strong>&nbspEmail: </strong>prajnapravah01@gmail.com
                        	</p>
                            <p class="address-text">
                                <strong><i>Contact us for contributions, feedback, and suggestions</i></strong>
                            </p>
                        </address>
                       	
                    </div> <!-- .col-md-4 -->

                </div>
            </div>
        </section>
{% endblock %}

{% block script %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
            <script src="{{ url_for('static', filename='js/ebooks.js') }}"></script>
            <script>                
                sentMsg();
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}