<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">
</head>
<body>
    <section id="meet-team">
        <div class="container">
            <div class="section-header">
                <h2 class="text-center wow fadeInDown">Meet The Developer Team</h2>
                <p class="text-center wow fadeInDown">None of us is as smart as all of us.</p>
            </div>

            <div class="row">
                <div class="team-member-col col-sm-6 col-md-4 wow fadeInUp">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <a href="http://www.dradwitiya.com/" target="_blank"><img class="img-responsive" src="{{ url_for('static', filename='images/team/adwitiya.jpg') }}" alt="adwitiya sinha"></a>
                        </div>
                        <div class="team-info">
                            <h3><a href="http://www.dradwitiya.com/" target="_blank">Dr. Adwitiya Sinha</a></h3>
                            <span>Database Managment & Content Writer</span>
                        </div>
                        <p><i>Database Manager &amp; Content Developer</i> for Web-based scenarios. <i>Application-based Researcher</i> focused on performance analysis of energy efficient wireless sensor &amp; adhoc networks, cognitive networks, data aggregation/prediction techniques with confluence of sensor-based applications with social networking and social sensing.</p>
                        <ul class="social-icons">
                            <li><a href="https://twitter.com/dradwitiya" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://www.dradwitiya.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="team-member-col col-sm-6 col-md-4 wow fadeInUp">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/team/sahil.jpg') }}" alt="sahil upadhyay">
                        </div>
                        <div class="team-info">
                            <h3><a href="http://sahilupadhyay.github.io/" target="_blank">Sahil Upadhyay</a></h3>
                            <span>Frontend Developer</span>
                        </div>
                        <p><i>Frontend Developer</i> creating efficient web layouts with astounding visuals designed to capture optimized application requirements. Proficient to build responsive and high-performance websites enhanced with high-end interactivity over enriched interfaces<br><br><br></p>
                        <ul class="social-icons">
                            <li><a href="http://sahilupadhyay.github.io/" target="_blank"><i class="fa fa-globe"></i></a></li>
                            <li><a href="https://twitter.com/sahil_upadhyay" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/sahil.upadhyay111" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://plus.google.com/+SahilUpadhyayjiit" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/sahilupadhyay0001/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member-col col-sm-6 col-md-4 wow fadeInUp">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="team-img">
                            <a href="http://www.pydea.org/" target="_blank"><img class="img-responsive" src="{{ url_for('static', filename='images/team/shashank.jpg') }}" alt="Shashank Gupta"></a>
                        </div>
                        <div class="team-info">
                            <h3><a href="http://www.pydea.org/" target="_blank">Shashank Gupta</a></h3>
                            <span>Backend Developer</span>
                        </div>
                        <p><i>Avid Python coder</i> with an in-depth understanding of internal structure &amp; working of python. <i>Core Researcher</i> in the field of Machine Learning, Artificial Intelligence, and Software Development. <i>Backend Developer</i> for generating a stable base for the front-end data storage extended with Cloud-based technologies</p>
                        <ul class="social-icons">
                            <li><a href="http://www.pydea.org/" target="_blank"><i class="fa fa-globe"></i></a></li>
                            <li><a href="https://github.com/shashankgupta12" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/shashankgupta12/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/shashnk_gupta" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </section><!--/#meet-team-->

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mousescroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.inview.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

</body>
</html>
