{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ebooks.css') }}"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css"/>

{% endblock %}

{% block body %}
	<section id="ebooks-section">
		<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p class="flash_msg text-danger">{{ message }}</p>
				{% endfor %}
			{% else %}
				<div class="row">
					<div class="section-header col-md-12">
	                    <h2 class="section-title text-center wow fadeInDown gallery-title text-white">Browse Books</h2>
	                </div>
				</div>
				</br></br>
				<div class="row">
				{% for filename, title, authors in ebooks %}
					<div class="col-md-2 text-center ebook-container">
						<a class="downloadStart" href="{{ url_for('static', filename='ebooks/{0}'.format(filename)) }}" title="{{title}}" Download>
							<i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i>
							<h3>{{ title }}</h3>
							<p>Author(s) : <strong>{{ authors }}</strong></p>
						</a>
					</div>					
				{% endfor %}
				</div>
			{% endif %}
		{% endwith %}		
		</div>
	</section>
{% endblock %}

{% block script %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
    <script src="{{ url_for('static', filename='js/ebooks.js') }}"></script>

{% endblock %}