{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css"/>
{% endblock %}

{% block body %}
    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url({{ url_for('static', filename='images/slider/1.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <p class="pull-right">An Umbrella Organisation of several Nationalist Think Tanks of Bharat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url({{ url_for('static', filename='images/slider/2.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <p>An Umbrella Organisation of several Nationalist Think Tanks of Bharat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ url_for('static', filename='images/slider/3.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <p><span>An Umbrella Organisation of several Nationalist Think Tanks of Bharat.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ url_for('static', filename='images/slider/7.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <p><span>An Umbrella Organisation of several Nationalist Think Tanks of Bharat.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url({{ url_for('static', filename='images/slider/4.jpg') }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <p><span>An Umbrella Organisation of several Nationalist Think Tanks of Bharat.</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

	<section id="about">
		<div class="container">
		    <div class="section-header">
		        <h2 class="section-title text-center wow fadeInDown gallery-title">Our Vision</h2>
                 <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p class="text-justify text-center fadeInDown wow">
                        Prajna Pravah is rational umbrella that stimulates, trains and synthesizes individuals to recognize the inherent strength of Bharath with academic vigor directed towards decolonizing Indian minds from Eurocentric impact. It functions with the sole vision of uplifting and reviving Hinduness in culture for emancipation of humanity. Hindutva being assimilative and self-sustaining has the potential to liberate world from arrogance of power accumulated through dictatorship policies of the west. Prajna Pravah upholds the vision of incorporating the theme of nationalism in spiritual terms so that national intellect evolves with broadened dimension lifted above economic and political context.</p>
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> Realization of objectives of nationalism &amp patriotism</li>
                                <li><i class="fa fa-check-square"></i> Arousal of spirit of true intellectualism & awareness among working-age population</li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> Improvement in national building process with progressive youths</li>
                                <li><i class="fa fa-check-square"></i> Laying spiritual basis for sustainable development in thought process</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="nostyle">
                                <li><i class="fa fa-check-square"></i> Fostering sense of innovation & creativity towards benign outlook</li>
                            </ul>
                            <a class="btn btn-primary" href="{{ url_for('mission') }}">Learn More</a>   
                        </div>
                    </div>
                </div>
		    </div>
	</section><!--/#about-->

	<section id="animated-number">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown gallery-title">Facts ABOUT US</h2>
                <!-- <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="animated-number" data-digit="2305" data-duration="1000"></div>
                        <strong>MEMBERS</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="animated-number" data-digit="1231" data-duration="1000"></div>
                        <strong>COORDINATORS</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="animated-number" data-digit="3025" data-duration="1000"></div>
                        <strong>VOLUNTEERS</strong>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                        <div class="animated-number" data-digit="1199" data-duration="1000"></div>
                        <strong>PROJECTS</strong>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#animated-number-->

    <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown gallery-title">Gallery</h2>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All</a></li>
                    {% for images in imageList %}
                        <li><a href="#" data-filter=".{{ images.folder }}">{{ images.folder }}</a></li>
                    {% endfor %}
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items row">
            {% for images in imageList %}
                {% for img in images['images'] %}
                    <div class="col-md-4 portfolio-item {{ images.folder }}">
                        <div class="portfolio-item-inner">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/360x240/home/{0}/{1}'.format(images['folder'], img)) }}" alt="{{ images.folder}} {{ img }}">
                            <div class="portfolio-info">
                                <h3>{{ img }}</h3>
                                <a class="preview" href="{{ url_for('static', filename='images/home/{0}/{1}'.format(images['folder'], img)) }}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->
                {% endfor %}
            {% endfor %}        
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->
    
    <section id="subscribe" class="wow fadeIn">
        <div class="container">
             <div class="section-header">
                <h2 class="section-title sub-title text-center wow fadeInUp animated gallery-title" style="visibility: visible; animation-name: fadeInDown;">Subscribe Now</h2>
                <p class="text-center wow fadeInDown">Subscribe to our Monthly Newsletter & Stay tuned.</p>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 wow fadeInLeft">
                    <form action="{{ url_for('index') }}" method="POST" class="subscription-form">
                        <div class="input-field">
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <input type="email" name="email" class="subscribe" id="subscribe-input" placeholder="Enter your email address..." required="">
                            <input type="submit" value="SUBSCRIBE" id="mail-submit">
                        </div>                       
                    </form>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
    <script src="{{ url_for('static', filename='js/ebooks.js') }}"></script>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>                
                    subscribed("{{ message }}");
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}