{% extends "base.html" %}

{% block stylesheet %}
    <link href="{{ url_for('static', filename='css/audio.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

	<section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown gallery-title">Our Mission</h2>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="pull-right">
                        <a href="#" class="btn btn-primary increaseSize" data-toggle="tooltip" title="Zoom In"><i class="fa fa-font">+</i></a>
                        <a href="#" class="btn btn-primary decreaseSize" data-toggle="tooltip" title="Zoom Out"><i class="fa fa-font">-</i></a>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="row wow fadeInUp animated animated">
            	<div class="col-lg-10 col-lg-offset-1 ">
                    <blockquote class="wow fadeInUp">
                        <div class="quote">
                             <span class="text-danger ourVisionText">"Prajna Pravah is a nationwide intellectual movement rooted in Bharatiya ethos and traditions"</span>
                        </div>
                    </blockquote>
                        <h3 class="gallery-title">Mission</h3>
                		<p class="text-justify wow fadeInUp ourVisionText">
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        We are living in a fast-changing world. The tide of globalization is sweeping across the continents, upsetting and uprooting longstanding cultures and traditions, values and attitudes and forcing radical changes whose consequences are unpredictable. Countries like India whose cultural vitality has withstood the shocks of untold foreign invasions and alien cultural onslaughts are now facing serious problems of survival. Cultural diversity, varied lifestyles, Bio-diversity and dignity of individuals and groups are under threat by the onrush of a consumeristic and materialistic civilization, which has no foundation of a wholesome philosophy, or integral vision of life. For the sake of humanity’s future wellbeing, this threat has to be squarely faced at all levels. Prajna Pravah has been visualized as an intellectual forum which can take up such challenges effectively, through in-depth studies, research and propagation of ideas among the elite and the common masses.
                    </p>
                    <p class="text-justify wow fadeInUp ourVisionText">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp It is not an organization per se. It has been envisaged as a forum of Nationalist thinkers to felicitate creative thinking, developing positive content, giving proper direction to the discourses and also building up a healthy network among Bharat centric Intellectuals, Intellectual movements and think tanks all-round the globe.                        

                    </p><br>
                    <h3 class="gallery-title">Objective</h3>
					<p class="text-justify wow fadeInUp ourVisionText">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        Our country possesses a hoary and continuous civilization with its abundant material and mental resources. It has its own philosophy of life which enables us to form a concrete opinion and judgement of every aspect of life. That philosophy of life is an organic, holistic or integrated philosophy. To see life, truth and nature as a continuum is the hall mark of our outlook. In contrast, western view of life sees separateness of mind-matter, faith-reform, man-nature, religion-science, etc. </br>Indiscriminate and rapid spread of the westernized mechanistic civilization with its cartesian categories, has not only resulted in a crisis of human values in our society, but also endangered the very existence of the human race at large. It is an irony that independent Bharat, instead of learning any lesson from the western experience and following the basic inspiration of her own freedom struggle, has been blindly following the western model. </p>

                    <p class="text-justify wow fadeInUp ourVisionText">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp There is an urgent need to reverse this trend, to take stock of our own moral intellectual resources and use them in a concerted manner to formulate a plan of our own for national regeneration. Thus, it is high time the country needs a powerful moral intellectual movement to:
                        <ul>
                            <li class="ourVisionText">Present, in modern idiom, the sublime philosophy evolved by the ancient Bharatiya genius and the social system aiming at the evolution of man into a higher being, by pursuing the Indian holistic approach which was based on the concept of a fundamental organic relationship between man, his environment and the cosmic process.</li>
                            <li class="ourVisionText">Analyze, assess and suitably re-orient the existing social structure which became badly distorted and disoriented during the prolonged of foreign rule, and promote a dynamic, forward-looking social setup rooted in our universal Sanatan life-values.</li>
                            <li class="ourVisionText">Strive to bring modern science and technology in harmony with Mother Nature and higher human values, by encouraging a comparative study of the scientific and technological knowledge, acquired by mankind during the last few centuries and the Bharatiya perception of nature, science and technology.</li>
                            <li class="ourVisionText">Raise the people's thinking from narrow loyalties to the higher loyalty to our country, our people, our culture and, indeed, to all mankind.</li>
                            <li class="ourVisionText">Strengthen the resolve of nation to fight against tendencies detrimental to the unity and integrity of country.</li>
                        </ul>
                    </p>
            	</div>
                <div class="col-lg-10 col-lg-offset-1 audio-class">
                    <h3 class="gallery-title">Play Our Anthem</h3>
                    <audio id="audio_player" ontimeupdate="audioProgressBar()" preload="auto" controls>
                      <!-- <source src={{ url_for('static', filename='audios/Anthem.mp3') }}" type="audio/mp3"> -->
                      <source src="{{ url_for('static', filename='audios/Anthem.mp3') }}" type="audio/mp3">
                      Your browser does not support the audio tag.
                    </audio>

                    <div class="audioprogress">
                      <svg class="progressCircle" x="0px" y="0px" width="166px" height="166px" viewBox="0 0 166 166" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle class="progressbarTrack" stroke-miterlimit="10" cx="83" cy="83" r="80" fill="transparent"></circle>
                        <circle id="bar" class="progressbarLoading" stroke-miterlimit="10" cx="83" cy="83" r="80" stroke-dasharray="502" stroke-dashoffset="-502" fill="transparent"></circle>
                      </svg>
                      <a href="" id="audio_control" class="control">Play/Pause<span>
                        <span class="one"><i></i><em></em></span>
                        <span class="two"><i></i><em></em></span>
                      </span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/audio.js') }}"></script>
{% endblock %}