{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}

{% block body %}
<section id="video-gallery">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="section-header">
			        <h2 class="section-title text-center wow fadeInDown gallery-title">Videos</h2>
			    </div>
			</div>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p class="flash_msg text-danger">{{ message }}</p>
					{% endfor %}
				{% else %}
					{% for videoTitle, _id, thumbnail, dt in videos %}
					<a href="{{ url_for('vids', id=_id, title=videoTitle) }}" title="{{ videoTitle }}">
						<div class="col-md-4">
							<div class="list-group">
								<div class="list-group-item videos-list">
								    <div class="row-picture">							        
							            <img class=" img-thumbnail img-box" src="{{ thumbnail }}" alt="India" style="float: left;margin-right: 5px;">
								        <p><a href="{{ url_for('vids', id=_id, title=videoTitle) }}">{{ videoTitle }}</a></p>
								    </div>
								    <div class="row-content">
								        <small>
								            <i class="glyphicon glyphicon-calendar"></i>&nbsp&nbsp  {{ dt }} 
								            <br>
								        </small>
								    </div>
								</div>
							</div>          			
						</div>
					</a>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
	</div>
	<ul class="pager">
		{% if not prev|int == -1 %}
			<li><a href="{{ url_for('videos', page=prev) }}">&larr; Previous</a></li>
		{% endif %}
		{% if not nxt|int == -1 %}
			<li><a href="{{ url_for('videos', page=nxt) }}">Next &rarr;</a></li>	
		{% endif %}	    
	</ul>
</section>
{% endblock %}

{% block script %}
{% endblock %}
